#home-container {
    display: flex;
    align-content: center;
    justify-content: center;
}


#filters-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

#filters-container > button {
    height: 25px;
    width: 25px;

    cursor: pointer;

    background-color: transparent;
    border: medium none;
    margin: 0;
    padding: 0;
}

#filters-container > button > img {
    height: 100%;
    width: 100%;
}