#inventory {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.inventory-item {
    background-color: lightgray;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.inventory-item > img {
    width: 100%;
}

#inventory-filters-container {
    display: flex;
    gap: 1rem;

    padding-bottom: 1rem;
    box-sizing: border-box;
}

#inventory-filters-container button {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#inventory-filters-container button img {
    height: 100%;
    width: 100%;
}