body {
    margin: 0;
    font-family: "Zen Dots", sans-serif;
    background-color: black;
    color: white;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}