#layout-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

#layout-navbar-container {
    padding: 2rem;
    box-sizing: border-box;
}

#layout-outlet-container {
    padding: 2rem;
    box-sizing: border-box;
}
