nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav > a {
    text-decoration: none;
}

#navbar-icon {
    width: 25px;
    height: 25px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

#navbar-icon > img {
    height: 100%;
    width: 100%;
}