nav {
    display: flex;
    align-content: center;
    justify-content: center;

    font-family: 'Bokor', sans-serif;
    color: white;
    font-size: 1.5rem;
}

nav > a {
    text-decoration: none;
}

nav > a, a:visited, a:hover, a:active {
    color: inherit;
}
